<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thêm mới phòng ban</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<script src="/js/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/basic.css">
</head>
<body>
	<div class="container">
		<div class="row header">
			<div class="col-md-12">
				<h2>Hệ thống quản lý nhân sự</h2>
			</div>
		</div>
		<div class="row menu">
			<nav class="navbar navbar-expand-lg navbar-dark"
				style="background-color: #0066cc;">
				<div class="container-md">
					<a class="navbar-brand" href="/">Home</a>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
						aria-controls="navbarTogglerDemo02" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item"><a class="nav-link" aria-current="page"
								href="/employee">Employee</a></li>
							<li class="nav-item"><a class="nav-link" href="/position">Position</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="/department">Department</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="row menu-2">
			<div class="col-md-2"></div>
			<div class="col-md-8"></div>
			<div class="col-md-2"></div>
		</div>
		<div class="row content">
			<div class="col-md-2"></div>
			<div class="col-md-8" align="center">
				<h2>Thêm mới phòng ban</h2>
				<table>
					<tr>
						<td><span>Tên phòng ban</span><span style="color: red">*</span></td>
						<td><input type="text" class="form-control" id="de-name"></td>
					</tr>
					<tr>
						<td><span>Mã phòng ban</span><span style="color: red">*</span></td>
						<td><input type="text" class="form-control" id="de-code"></td>
					</tr>
					<tr>
						<td><span>Mô tả phòng ban</span></td>
						<td><textarea class="form-control" id="de-desc"></textarea></td>
					</tr>
					<tr>
						<td colspan="2" align="center"><span id="error"
							style="color: red;">Dữ liệu chưa đúng</span></td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<button class="btn btn-primary" onclick="addNew()">Gửi</button>
							<button class="btn btn-primary" onclick="goBack()">Quay
								lại</button>
						</td>
					</tr>
				</table>

			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row footer">
			<div class="col-md-12">
				Demo by Nguyễn Ngọc Hưng <br> FB:
				https://www.facebook.com/hung97.hpv/
			</div>
		</div>
	</div>
	<script src="/js/is-valid-department.js">
		
	</script>
</body>
</html>